#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 2% 15px 0 15px;
    min-height: 568px;
    background-color: #fff;
    width: 100%
}

.row-title {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
}

.line {
    height: 1px;
    background: black;
    width: 90%;
    font-size: 1px; /* IE 6 */
}